.env
__pycache__/
*.pyc
.ipynb_checkpoints/
logs/
mlflow_artifacts/
mlruns/
custormer_churn/

# Chặn toàn bộ data và artifacts
data/
outputs/
*.pkl
*.txt
*.csv
*.png
*.html

# Giữ lại cấu hình
!requirements.txt
